[Desktop Entry]
Type=Application
Name=AAADAW
Comment=Record, edit, and mix audio and MIDI
Exec=aaadaw
Terminal=false
Categories=AudioVideo;Audio;
StartupNotify=false
