<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="AAADAW"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <service
            android:name=".AudioService"
            android:exported="false"
            android:foregroundServiceType="microphone|mediaPlayback" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:label="AAADAW"
            android:screenOrientation="unspecified">
            <meta-data android:name="android.app.lib_name" android:value="aaadaw" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
